.game-menu-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 30% 0 30%;
    align-content: center;
    gap: 3%;
    background-color: #270722;
}
.end-game-title{
    font-family: 'McLaren', cursive;
    color: white;
    font-size: 3.7em;
}

@media only screen and (max-width: 600px){
    .game-menu-container{
        padding: 0% 5% 0% 5%;
        flex-direction: column;
    }

    .end-game-title{
        font-family: 'McLaren', cursive;
        color: white;
        font-size: 1.7em;
    }
    
}

.end-game-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
